*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

body {
    background: linear-gradient(to right, rgb(104, 98, 98),rgb(223, 203, 203) );
}

.container {
    margin: 0 auto;
    width: 50%;
}

img{
    border-radius: 15px;
}

header {
    display: block;
    justify-content: center;
    align-items: center;
}

.mainPic {
    width: 250px;
    height: 250px;
    left: 25%;
    position: relative;
}

.name {
    position: relative;
    left: 28%;
}

.info {
    position: relative;
    left: 25%;
}

.codeIm {
    width: 700px;
    height: 350px;
}

.ref {
    text-decoration: none;
}

a{
    color: #6d0270;
}

a:hover{
    opacity: 0.5;
}

footer {
    background-color: #3f17ad;
    height: 60px;
    position: relative;
}

.footer-git {
    width: 180px;
    height: 25px;
    left: 30%;
    color: aliceblue;
    text-decoration: none;
    position: absolute;
}

.footer-p {
    left: 25%;
    position: relative;
    width: 40px;
    margin: 0;
    padding: 0;
}

.rs-logo {
    height: 40px;
    width: 60px;
    left: 70%;
    position: relative;
    top: 0;
    margin: 0;
    border-radius: 0;
}