*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

body {
    background: linear-gradient(to right, rgb(104, 98, 98),rgb(223, 203, 203) );
}

.container {
    margin: 0 auto;
    width: 50%;
}

header {
    display: block;
    justify-content: center;
    align-items: center;
}

.mainPic {
    width: 250px;
    height: 250px;
    left: 25%;
    position: relative;
    border-radius: 15px;
}

.name {
    position: relative;
    left: 28%;
}

.info {
    position: relative;
    left: 30%;
}

.optionName {
    position: relative;
    left: 30%;
}

.main-list {
    position: relative;
    left: 30%;
}

.codeIm {
    width: 700px;
    height: 350px;
}

.ref {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
}

.footer-container{
    margin: 0;
    height: 150px;
}

a{
    text-decoration: none;
}
li {
    padding: 5px;
    height: 50px;
}

.bottom-ref{
    display: inline-block;
} 

.linkedin {
    display: block;
    width: 80px;
    height: 50px;
}

.github {
    display: block;
    width: 80px;
    height: 50px;
}
.rs {
    display: block;
    width: 120px;
    height: 50px;
    background-image: url(rs_school_js.svg);
    background-repeat: no-repeat ;
}

.uTube {
    display: block;
    width: 120px;
    height: 50px;
    background-image: url(YouTube_full-color_icon.svg);
    background-repeat: no-repeat ;
}

.date-of-creation {
    display: block;
    width: 250px;
    height: 250px;
}